<div class="row">
  <div class="col-md-6">
    <p>
      <h2>Garbage Collection</h2>
      Every {{input value=GCIntervalMinutes class="form-control" style="display: inline-block; width: 100px;"}} minutes
    </p>
  </div>
  <div class="col-md-6">
    <h2>Image Pull</h2>
    <p>
      Every {{input value=PullIntervalMinutes class="form-control" style="display: inline-block; width: 100px;"}} minutes
    </p>
  </div>
</div>

<button class="btn btn-primary">Save</button>
